@font-face {
    font-family: 'shrikhand';
    src: url('shrikhand-regular-webfont.eot');
    src: url('/font/Shrikhand/shrikhand-regular-webfont.ttf') format('embedded-opentype'),
         url('/font/Shrikhand/shrikhand-regular-webfont.woff2') format('woff2'),
         url('/font/Shrikhand/shrikhand-regular-webfont.woff') format('woff'),
         url('/font/Shrikhand/shrikhand-regular-webfont.ttf') format('truetype'),
         url('/font/Shrikhand/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('/font/roboto/roboto-regular-webfont.eot');
    src: url('/font/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('/font/roboto/roboto-regular-webfont.woff') format('woff'),
         url('/font/roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('/font/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

$num-ripple: 5;
$anim-dur: 3s;
$anim-delay: -0.6s;
$cd-primary:#9356DC;
$cd-secondary:#FF79DA;
$cd-tertiary:#99E2D0;
$cd-grey:#eaeaea;
$--gradient: linear-gradient(90deg,white,$cd-primary,$cd-secondary);

.loader{  
    position: absolute;
    background: $cd-primary; 
    min-height:100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200%;
    color: $cd-secondary ;
    z-index: +1;
    animation:exitloader $anim-dur forwards 1;
    &__ripple{ 
        @for $i from 1 through $num-ripple {
            &--#{$i} {
                position: absolute;
                box-sizing: border-box;
                border: 1px solid $cd-tertiary;
                box-shadow: 0px 5px 18px -3px $cd-tertiary;
                border-radius: 50%;
                animation: animate $anim-dur linear 2;
                animation-delay: $anim-delay * $i;
            }
        }
    }    
}
@keyframes animate {
    0%{
        width: 70px;
        height: 70px;
        opacity: 1;
    }
    
    100%{
        width: 100vh;
        height: 100vh;
        opacity:0;
    }      
}
@keyframes exitloader {
    90%{
        opacity:1;
    }
    100%{
        opacity:0;
    }
}
.body{
    margin: 0px;
    height: 100vh;
    width: auto;
    position: relative;
}
.header{
    display: flex;
    flex-direction: column;
    height:auto;
    background-color:white;
    padding-bottom: 55px;
    &__logo{
    height:63px;
    text-align: center;
        h1{
            font-family:Shrikhand;
            font-size:30px ;
        }
    }
    &__searchbar{
        border:hidden;
        display: flex;
        background-color:$cd-grey;
        box-shadow: inset 0px 5px 5px 0px darken($cd-grey, 10%);
        justify-content:center;
        padding-top: 13px;
        padding-bottom:13px;
        &__icon{
            padding-left:33px;
            padding-right: 15px;
            padding-top: 4px;
        }
        &__input{
            font-family:roboto;
            font-weight: bold;
            font-size: medium;
            border-style: none;
            background-color:$cd-grey;
        }
    }
    &__title{
        font-family: roboto;
        font-size:24px;
        text-align: center;
        margin-top:35px;
        margin-right:5%;
        margin-bottom: 0px;
    }
    &__subtitle{
        font-family: roboto;
        font-size:17.5px;
        font-weight: lighter;
        margin-top: 6px;
        margin-left: 2%;
        text-align: center;
    }
    &__button {
        width:auto;
        box-shadow: 0px 5px 18px -3px darken($cd-grey, 30%);
        background:linear-gradient(175deg, $cd-secondary 5%,$cd-primary 100%);
        background-color:$cd-secondary;
        border: none;
        border-radius:35px;
        display:inline-block;
        cursor:pointer;
        color:white;
        font-family:roboto;
        font-size:16px;
        padding:15px 15px;
        margin-top:11px;
        margin: 3% 20% 0% 22%;
        text-decoration:none;
        &:hover {
            background:linear-gradient(175deg,$cd-primary 5%, $cd-secondary 100%);
            background-color:$cd-primary;
            box-shadow: 0px 5px 22px -3px darken($cd-grey, 50%);
        }
        &:active {
            position:relative;
            top:1px;
        }
    }   
}
.main{
    height: auto;
    &__services{
        display: flex;
        flex-direction: column;
        padding-bottom: 33px;
        &__title{
            font-family: roboto;
            font-weight: bold;
            margin-left: 21px;
            padding-top: 25px;
        }
        &__ordertype{
            display: flex;
            flex-direction: column;
            height: auto;
            counter-reset: section;
            &__list{ 
                margin: 15px 18px 18px 32px;
                text-decoration: none;
                font-family: roboto;
                font-weight: bold;
                color: black;
                background-color: white;
                border-radius: 18px;
                box-shadow: 0px 5px 18px -3px darken($cd-grey, 30%);
                padding: 20px 0px 15px 15px;
                position: relative;  
                &::before {
                    counter-increment: section;
                    content: "" counter(section);
                    position:absolute;
                    display: flex;
                    list-style-type: decimal;
                    background-color:$cd-primary;
                    border-radius: 45px;
                    font-size: 15px;
                    font-family: roboto;
                    font-weight: lighter;
                    color: white;
                    padding: 2px 8px 2px 8px;
                    top: 20px;
                    left:-11px;   
                    text-decoration: none;
                }
                &__icons{
                    margin: 0px 21px 10px 19px;
                    font-size: 20px;
                    color:darken($cd-grey, 10%);
                }
                &:hover{
                    box-shadow: 0px 5px 22px -3px darken($cd-grey, 50%);
                    background-color: lighten($cd-primary, 35%);
                    i{
                        color:$cd-primary; 
                    }   
                }   
                &:active{
                    top:1px;
                } 
            }  
        }
    }

    &__restaurants{
        background-color: white;
        padding-bottom: 44px;
        height: auto;
        &__title{
            font-family: roboto;
            padding: 50px 20px 20px 21px;
            margin-bottom: 0px;
        }
        &__sticker{
            text-decoration: none;
            display: flex;
            position: relative;
            flex-direction: column;
            background-color: white;
            border-radius: 18px;
            box-shadow: 0px 5px 18px -3px darken($cd-grey, 30%);
            margin:0px 20px 20px 20px;
        
            &::before{
                content: "Nouveau";
                position:absolute;
                font-family: roboto;
                background-color: $cd-tertiary;
                color:darken($cd-tertiary, 35%);
                right:12px;
                top:12px;
                padding:5px 12px 5px 12px;
                font-size: 14px;
                border-radius: 2px;
            }
            &__title{
                font-family: roboto;
                font-weight: bold;
                font-size: 18px;
                color: black;
                margin:11px 10px 5px 2px;
            }
            &__subtitle{
                font-family: roboto;
                font-weight: lighter;
                font-size: 16.5px;
                color: black;
                margin:0px 0px 0px 4px;
            }
            &__description{
                border-radius: 0px 0px 15px 15px;
                border-top: none;
                padding: 0px 10px 13px 10px;
                position: relative;
                
                
        
                &__icones--1{
                    position: absolute;
                    z-index: 1;
                    font-size: 20px;
                    top:27.3%;
                    right:5.45%;
                    background-image: linear-gradient(to top,$cd-primary,$cd-secondary);
                    background-clip: text;
                    color: transparent;
                    background-position: 0 24px;
                    height: 19px;
                    background-repeat: no-repeat;
                    transition: background-position 1s;                    
                    &:hover{
                        background-position: 0 0px;
                    }
                }
                &__icones--2{
                    font-size: 24px;
                    top:25%;
                    right:5%;
                    color:black;
                    position:absolute;
                    
                }
            }
            &__lapalette{
                background-image: url(/images/restaurants/jay-wennington.jpg);
                background-repeat: no-repeat;
                background-position:bottom;
                background-size:cover;
                padding: 26%;
                border-radius: 15px 15px 0px 0px;
            }
            &__lanote{
                background-image: url(/images/restaurants/stil.jpg);
                background-repeat: no-repeat;
                background-position:bottom;
                background-size:cover;
                padding: 26%;
                border-radius: 15px 15px 0px 0px;
            }
            &__franc{
                background-image: url(/images/restaurants/toa-heftiba.jpg);
                background-repeat: no-repeat;
                background-position:bottom;
                background-size:cover;
                padding: 26%;
                border-radius: 15px 15px 0px 0px;
            }
            &__delice{
                background-image: url(/images/restaurants/louis-hansel-shotsoflouis.jpg);
                background-repeat: no-repeat;
                background-position:bottom;
                background-size:cover;
                padding: 26%;
                border-radius: 15px 15px 0px 0px;
            }
        }
    }  
}

.footer{
    height: auto;
    background-color: darken($cd-grey, 50%);
    color:white;
    padding-bottom: 12px;
    &__title{
        margin-left:25px;
        margin-top: 0%;
        padding-top: 26px;;
        font-family: Shrikhand;
        font-weight: lighter;
        font-size: 18px;   
    }
    &__list{
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        padding-top: 6px;
        list-style:none;
        
        &__links{
            color:white;
            font-family: roboto;
            font-weight: lighter;
            text-decoration: none;
            font-size:16px;
            margin-top: 5px;
            margin-bottom: 0px;  
            i{
                margin-right: 6px;
                font-size: 12px;
            }
        }
    }
}
.headermenu{
    display: flex;
    flex-direction: column;
    &__logo{
        display: flex;
        flex-direction: row;
        font-family: Shrikhand;
        font-size: 30px;
        font-weight: lighter;
        justify-content: center;
        margin: 20px 0px 13px 0px;  
    }
    &__icon{
        position: absolute;
        top: 25px;
        left: 24px;
    }
    &__sticker{
        background-image: url(/images/restaurants/jay-wennington.jpg);
        background-repeat: no-repeat;
        background-position:top;
        background-size:cover;
        margin-bottom: 10px;
        padding: 37%;
    }
    &__description{
        display: flex;
        font-family:Shrikhand; 
        background-color:white;
        position:absolute;
        top: 262px;
        font-size: 24px;
        margin-top: 19px;
        border-radius: 40px 40px 0px 0px;
        width: 100%;
        &__title{
            font-weight: lighter;
            margin-left: 21px;
            margin-top: 40px;
            margin-bottom: 0px;
        }
        ::before{
            position:absolute;
            font-size: 25px;
            top:37.5px;
            right: 36px;
        }
    }
}
.menu{
    height: auto;
    margin-bottom:10px;
    &__title{
        font-family: roboto;
        font-weight: lighter;
        font-size: 16px;
        margin-left:20px;
        margin-top:32px;
        border-bottom:3px solid $cd-tertiary ;
        width: 40px;
        padding-bottom: 3px;

    }
    &__sticker{
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 5px 18px -3px darken($cd-grey, 30%);
        margin: 0px 13px 13px 14px;
        border-radius: 15px;
        text-decoration: none;
            
        color: black;
        
        &__description{ 
            display: flex;
            flex-direction: column;
            width:60%;             
            &__title{
                font-family: roboto;
                font-weight: bold;
                font-size: 18px;
                margin:11px 0px 4px 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;               
            }
            &__subtitle{
                font-family: roboto;
                font-weight: lighter;
                font-size:14px;
                margin:0px 0px 12px 10px;
                white-space: nowrap;
                overflow:hidden;
                text-overflow: ellipsis; 
            }
        }
        &__price{
            font-family: roboto;
            font-weight: bold;
            font-size: 15px;
            padding: 0px 23px 0px 25px;
            background-color: white;
            margin:37px 0px 0px 0px;
            width:21%;
        }
        &__icon{
            display: flex;
            position:relative;
            background-color: $cd-tertiary;
            width:16%;
            border-radius: 0px 15px 15px 0px;
            ::before{
                position: absolute;
                background-color: white;
                color:$cd-tertiary;
                top:25px;
                right: 20px;
                font-size: 12px;
                padding: 4px;
                border-radius: 25px;
            }  
        }    
    }
        
    &__sweet--adjustment{
        margin-top: 44px;
    }
    &__commandbutton{
        margin: 34px 94px 44px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
