@font-face {
  font-family: "shrikhand";
  src: url("shrikhand-regular-webfont.eot");
  src: url("/sass/Base/font/Shrikhand/shrikhand-regular-webfont.ttf") format("embedded-opentype"), url("/sass/Base/font/Shrikhand/shrikhand-regular-webfont.woff2") format("woff2"), url("/sass/Base/font/Shrikhand/shrikhand-regular-webfont.woff") format("woff"), url("/sass/Base/font/Shrikhand/shrikhand-regular-webfont.ttf") format("truetype"), url("/sass/Base/font/Shrikhand/shrikhand-regular-webfont.svg#shrikhandregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("/sass/Base/font/roboto/roboto-regular-webfont.eot");
  src: url("/sass/Base/font/roboto/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/sass/Base/font/roboto/roboto-regular-webfont.woff2") format("woff2"), url("/sass/Base/font/roboto/roboto-regular-webfont.woff") format("woff"), url("/sass/Base/font/roboto/roboto-regular-webfont.ttf") format("truetype"), url("/sass/Base/font/roboto/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.body {
  margin: 0px;
}

.header {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #f6f6f6;
  padding-bottom: 55px;
}
.header__logo {
  height: 63px;
  text-align: center;
}
.header__logo h1 {
  font-family: Shrikhand;
  font-size: 30px;
}
.header__searchbar {
  border: hidden;
  display: flex;
  background-color: #eaeaea;
  box-shadow: inset 0px 5px 5px 0px #c0c0c0;
  justify-content: center;
  padding-top: 13px;
  padding-bottom: 13px;
}
.header__searchbar__icon {
  padding-left: 33px;
  padding-right: 15px;
  padding-top: 4px;
}
.header__searchbar__input {
  font-family: roboto;
  font-weight: bold;
  font-size: medium;
  border-style: none;
  background-color: #eaeaea;
}
.header__title {
  font-family: roboto;
  font-size: 24px;
  text-align: center;
  margin-top: 35px;
  margin-right: 5%;
  margin-bottom: 0px;
}
.header__subtitle {
  font-family: roboto;
  font-size: 17.5px;
  font-weight: lighter;
  margin-top: 6px;
  margin-left: 2%;
  text-align: center;
}
.header__button {
  width: auto;
  box-shadow: 0px 5px 18px -3px #899599;
  background: linear-gradient(175deg, #FF79DA 5%, #9356DC 100%);
  background-color: #FF79DA;
  border: none;
  border-radius: 35px;
  display: inline-block;
  cursor: pointer;
  color: white;
  font-family: roboto;
  font-size: 16px;
  padding: 15px 15px;
  margin-top: 11px;
  margin: 3% 20% 0% 22%;
  text-decoration: none;
}
.header__button:hover {
  background: linear-gradient(175deg, #9356DC 5%, #FF79DA 100%);
  background-color: #9356DC;
}
.header__button:active {
  position: relative;
  top: 1px;
}

.main {
  height: auto;
}
.main__services {
  display: flex;
  flex-direction: column;
  padding-bottom: 33px;
}
.main__services__title {
  font-family: roboto;
  font-weight: bold;
  margin-left: 21px;
  padding-top: 25px;
}
.main__services__ordertype {
  display: flex;
  flex-direction: column;
  height: auto;
  counter-reset: section;
}
.main__services__ordertype__list {
  margin: 15px 18px 18px 32px;
  text-decoration: none;
  font-family: roboto;
  font-weight: bold;
  color: black;
  background-color: #f6f6f6;
  border-radius: 18px;
  box-shadow: #c3c3c3 0px 3px 20px;
  padding: 20px 0px 15px 15px;
  position: relative;
}
.main__services__ordertype__list::before {
  counter-increment: section;
  content: "" counter(section);
  position: absolute;
  display: flex;
  list-style-type: decimal;
  background-color: #9356DC;
  border-radius: 45px;
  font-size: 15px;
  font-family: roboto;
  font-weight: lighter;
  color: white;
  padding: 2px 8px 2px 8px;
  top: 20px;
  left: -11px;
  text-decoration: none;
}
.main__services__ordertype__list__icons {
  margin: 0px 21px 10px 19px;
  font-size: 20px;
  color: grey;
}
.main__services__ordertype__list:hover i {
  color: #9356DC;
}
.main__services__ordertype__list:active {
  background-color: #f5edff;
  top: 1px;
}
.main__restaurants {
  background-color: #f6f6f6;
  height: auto;
}
.main__restaurants__title {
  font-family: roboto;
  padding: 50px 20px 20px 21px;
  margin-bottom: 0px;
}
.main__restaurants__sticker {
  text-decoration: none;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  height: auto;
  border-radius: 18px;
  box-shadow: #c3c3c3 0px 3px 20px;
  margin: 0px 20px 20px 20px;
}
.main__restaurants__sticker::before {
  content: "Nouveau";
  position: absolute;
  font-family: roboto;
  background-color: #99E2D0;
  color: #008766;
  right: 12px;
  top: 12px;
  padding: 5px 12px 5px 12px;
  font-size: 14px;
  border-radius: 2px;
}
.main__restaurants__sticker__title {
  font-family: roboto;
  font-weight: bold;
  font-size: 18px;
  color: black;
  margin: 11px 10px 5px 2px;
}
.main__restaurants__sticker__subtitle {
  font-family: roboto;
  font-weight: lighter;
  font-size: 16.5px;
  color: black;
  margin: 0px 0px 0px 4px;
}
.main__restaurants__sticker__lapalette {
  background-image: url(/sass/Base/images/restaurants/jay-wennington.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding: 26%;
  border-radius: 15px 15px 0px 0px;
}
.main__restaurants__sticker__description {
  border-radius: 0px 0px 15px 15px;
  border-top: none;
  padding: 0px 10px 13px 10px;
  position: relative;
}
.main__restaurants__sticker__description i {
  font-size: 25px;
  color: black;
  position: absolute;
  top: 20px;
  left: 287px;
}/*# sourceMappingURL=main.css.map */