@font-face {
    font-family: 'shrikhand';
    src: url('shrikhand-regular-webfont.eot');
    src: url('/sass/Base/font/Shrikhand/shrikhand-regular-webfont.ttf') format('embedded-opentype'),
         url('/sass/Base/font/Shrikhand/shrikhand-regular-webfont.woff2') format('woff2'),
         url('/sass/Base/font/Shrikhand/shrikhand-regular-webfont.woff') format('woff'),
         url('/sass/Base/font/Shrikhand/shrikhand-regular-webfont.ttf') format('truetype'),
         url('/sass/Base/font/Shrikhand/shrikhand-regular-webfont.svg#shrikhandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('/sass/Base/font/roboto/roboto-regular-webfont.eot');
    src: url('/sass/Base/font/roboto/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/sass/Base/font/roboto/roboto-regular-webfont.woff2') format('woff2'),
         url('/sass/Base/font/roboto/roboto-regular-webfont.woff') format('woff'),
         url('/sass/Base/font/roboto/roboto-regular-webfont.ttf') format('truetype'),
         url('/sass/Base/font/roboto/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.body{
    margin: 0px;
    height: auto;
}
.header{
    display: flex;
    flex-direction: column;
    height:auto;
    background-color:#f6f6f6;
    padding-bottom: 55px;
    &__logo{
      height:63px;
      text-align: center;
      h1{
          font-family:Shrikhand;
          font-size:30px ;
      }
    } 
    &__searchbar{
        border:hidden;
        display: flex;
        background-color:#eaeaea;
        box-shadow: inset 0px 5px 5px 0px #c0c0c0;
        justify-content:center;
        padding-top: 13px;
        padding-bottom:13px;
        &__icon{
            padding-left:33px;
            padding-right: 15px;
            padding-top: 4px;
        }
        &__input{
            font-family:roboto;
            font-weight: bold;
            font-size: medium;
            border-style: none;
            background-color:#eaeaea;
        }
    }
    &__title{
        font-family: roboto;
        font-size:24px;
        text-align: center;
        margin-top:35px;
        margin-right:5%;
        margin-bottom: 0px;
    }
    &__subtitle{
        font-family: roboto;
        font-size:17.5px;
        font-weight: lighter;
        margin-top: 6px;
        margin-left: 2%;
        text-align: center;
    }

    &__button {
        width:auto;
        box-shadow: 0px 5px 18px -3px #899599;
        background:linear-gradient(175deg, #FF79DA 5%, #9356DC 100%);
        background-color:#FF79DA;
        border: none;
        border-radius:35px;
        display:inline-block;
        cursor:pointer;
        color:white;
        font-family:roboto;
        font-size:16px;
        padding:15px 15px;
        margin-top:11px;
        margin: 3% 20% 0% 22%;
        text-decoration:none;
    
        
        &:hover {
            background:linear-gradient(175deg, #9356DC 5%, #FF79DA 100%);
            background-color:#9356DC;
        }
        &:active {
            position:relative;
            top:1px;
        }
    }   
}
.main{
    height: auto;
    
    &__services{
        display: flex;
        flex-direction: column;
        padding-bottom: 33px;
        &__title{
            font-family: roboto;
            font-weight: bold;
            margin-left: 21px;
            padding-top: 25px;
        }
        &__ordertype{
            display: flex;
            flex-direction: column;
            height: auto;
            counter-reset: section;
            &__list{ 
                margin: 15px 18px 18px 32px;
                text-decoration: none;
                font-family: roboto;
                font-weight: bold;
                color: black;
                background-color: #f6f6f6;
                border-radius: 18px;
                box-shadow: #c3c3c3 0px 3px 20px;
                padding: 20px 0px 15px 15px;
                position: relative;  
                &::before {
                    counter-increment: section;
                    content: "" counter(section);
                    position:absolute;
                    display: flex;
                    list-style-type: decimal;
                    background-color: #9356DC;
                    border-radius: 45px;
                    font-size: 15px;
                    font-family: roboto;
                    font-weight: lighter;
                    color: white;
                    padding: 2px 8px 2px 8px;
                    top: 20px;
                    left:-11px;   
                    text-decoration: none;
                }
                &__icons{
                    margin: 0px 21px 10px 19px;
                    font-size: 20px;
                    color:grey;
                }
                &:hover{
                    i{
                        color:#9356DC; 
                    }   
                }   
                &:active{
                    background-color: #f5edff;
                    top:1px;
                } 
            }  
        }
    }&__restaurants{
        background-color: #f6f6f6;
        padding-bottom: 44px;
        height: auto;
        &__title{
            font-family: roboto;
            padding: 50px 20px 20px 21px;
            margin-bottom: 0px;
        }
        &__sticker{
            text-decoration: none;
            height: auto;
            display: flex;
            position: relative;
            flex-direction: column;
            background-color: white;
            height: auto;
            border-radius: 18px;
            box-shadow: #c3c3c3 0px 3px 20px;
            margin:0px 20px 20px 20px;
            &::before{
                content: "Nouveau";
                position:absolute;
                font-family: roboto;
                background-color: #99E2D0;
                color:#008766;
                right:12px;
                top:12px;
                padding:5px 12px 5px 12px;
                font-size: 14px;
                border-radius: 2px;
            }
            &__title{
                font-family: roboto;
                font-weight: bold;
                font-size: 18px;
                color: black;
                margin:11px 10px 5px 2px;
            }
            &__subtitle{
                font-family: roboto;
                font-weight: lighter;
                font-size: 16.5px;
                color: black;
                margin:0px 0px 0px 4px;
            }
            &__description{
                border-radius: 0px 0px 15px 15px;
                border-top: none;
                padding: 0px 10px 13px 10px;
                position: relative;
                i{
                    font-size: 25px;
                    color:black;
                    position:absolute;
                    top: 20px;
                    left:287px;
                }
            }
            &__lapalette{
                background-image: url(/sass/Base/images/restaurants/jay-wennington.jpg);
                background-repeat: no-repeat;
                background-position:bottom;
                background-size:cover;
                padding: 26%;
                border-radius: 15px 15px 0px 0px;
            }
            &__lanote{
                background-image: url(/sass/Base/images/restaurants/stil.jpg);
                background-repeat: no-repeat;
                background-position:bottom;
                background-size:cover;
                padding: 26%;
                border-radius: 15px 15px 0px 0px;
            }
            &__franc{
                background-image: url(/sass/Base/images/restaurants/toa-heftiba.jpg);
                background-repeat: no-repeat;
                background-position:bottom;
                background-size:cover;
                padding: 26%;
                border-radius: 15px 15px 0px 0px;
            }
            &__delice{
                background-image: url(/sass/Base/images/restaurants/louis-hansel-shotsoflouis.jpg);
                background-repeat: no-repeat;
                background-position:bottom;
                background-size:cover;
                padding: 26%;
                border-radius: 15px 15px 0px 0px;
            }
        }  
    }
}
.footer{
    height: auto;
    background-color: #353535;
    color:white;
    padding-bottom: 12px;
    &__title{
        margin-left:25px;
        margin-top: 0%;
        padding-top: 26px;;
        font-family: Shrikhand;
        font-weight: lighter;
        font-size: 18px;   
    }
    &__list{
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        padding-top: 6px;
        list-style:none;
        
        &__links{
            color:white;
            font-family: roboto;
            font-weight: lighter;
            text-decoration: none;
            font-size:16px;
            margin-top: 5px;
            margin-bottom: 0px;
            
        }
            i{
                margin-right: 6px;
                font-size: 12px;
            }
    }
    

}.headermenu{
    display: flex;
    flex-direction: column;
    &__logo{
        display: flex;
        flex-direction: row;
        font-family: Shrikhand;
        font-size: 30px;
        font-weight: lighter;
        justify-content: center;
        margin: 20px 0px 13px 0px;  
    }
    &__icon{
        position: absolute;
        top: 25px;
        left: 24px;
    }
    &__sticker{
        background-image: url(/sass/Base/images/restaurants/jay-wennington.jpg);
        background-repeat: no-repeat;
        background-position:top;
        background-size:cover;
        margin-bottom: 10px;
        padding: 37%;
    }
    &__description{
        display: flex;
        font-family:Shrikhand; 
        background-color:white;
        position:absolute;
        top: 262px;
        font-size: 24px;
        margin-top: 19px;
        border-radius: 40px 40px 0px 0px;
        width: 100%;
        &__title{
            font-weight: lighter;
            margin-left: 21px;
            margin-top: 40px;
            margin-bottom: 0px;
        }
        ::before{
            position:absolute;
            font-size: 25px;
            top:37.5px;
            right: 36px;
        }
    }
}
.menu{
    height: auto;
    margin-bottom:10px;
    &__title{
        font-family: roboto;
        font-weight: lighter;
        font-size: 16px;
        margin-left:20px;
        margin-top:32px;
        border-bottom:3px solid #99E2D0 ;
        width: 40px;
        padding-bottom: 3px;
  
    }
    &__sticker{
        display: flex;
        justify-content: space-between;
        box-shadow: #c3c3c3 0px 3px 20px;
        margin: 0px 13px 13px 14px;
        border-radius: 15px;
        text-decoration: none;
              
        color: black;
        
        &__description{ 
            display: flex;
            flex-direction: column;
            width:60%;             
            &__title{
                font-family: roboto;
                font-weight: bold;
                font-size: 18px;
                margin:11px 0px 4px 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;               
            }
            &__subtitle{
                font-family: roboto;
                font-weight: lighter;
                font-size:14px;
                margin:0px 0px 12px 10px;
                white-space: nowrap;
                overflow:hidden;
                text-overflow: ellipsis; 
            }
        }
        &__price{
            font-family: roboto;
            font-weight: bold;
            font-size: 15px;
            padding: 0px 23px 0px 25px;
            background-color: white;
            margin:37px 0px 0px 0px;
            width:21%;
        }
        &__icon{
            display: flex;
            position:relative;
            background-color: #99E2D0;
            width:16%;
            border-radius: 0px 15px 15px 0px;
            ::before{
                position: absolute;
                background-color: white;
                color:#99E2D0;
                top:25px;
                right: 20px;
                font-size: 12px;
                padding: 4px;
                border-radius: 25px;
            }  
        }    
    }
        
    &__sweet--adjustment{
        margin-top: 44px;
                }
    &__commandbutton{
        margin: 34px 94px 44px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
