.logo{
    display: flex;
    flex-direction: row;
    font-family: Shrikhand;
    height:63px;
    font-size: 30px;
    font-weight: lighter;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 13px 0px;  
}
