.searchbar{
    border:hidden;
    display: flex;
    background-color:$cd-grey;
    box-shadow:$box-shadow--searchbar;
    justify-content:center;
    padding-top: 13px;
    padding-bottom:13px;
    &__icon{
        padding-left:33px;
        padding-right: 15px;
        padding-top: 4px;
    }
    &__input{
        font-family:roboto;
        font-weight: bold;
        font-size: medium;
        border-style: none;
        background-color:$cd-grey;
    }
}